build/
dist/
.vscode/
*.egg-info/
*.pyc
*.pyo
*.swp
*.swo
*.log
__pycache__/
*/.ipynb_checkpoints/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
*.bak
*.tmp
.git/
block_encoding_LCU copy.ipynb
